.grid-container-all {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #f3ffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-template-columns: 350px 350px 350px;
}

.grid-item-all {
  background: rgba(34, 107, 155, 0.45);
  box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 13px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-container-all .btn{
    display: flex;
    justify-content: flex-end;
}