.img-fluid2 {
  position: absolute;
  width: 100%;
  height: 500px;
  margin-left: 0px;
  margin-top: 0;
  padding-top: 30px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#contain #bg {
  background-color: #16324f;
}
.cards-wrapper {
  height: 9000px;
}

.grid-container-main {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #f3ffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.grid-item-main {
  background: rgba(34, 107, 155, 0.45);
  box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  width: 350px;
  height: 300px;
  border-radius: 13px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
