
.card1 {
    position: absolute;
    width: 370px;
    height: 225px;
    margin-left: 48px;
    margin-top: -200px;
    border: solid black;
    border-radius: 13px;
  }
  
  .card2 {
    position: absolute;
    width: 370px;
    height: 225px;
    margin-left: 495px;
    margin-top: -200px;
    border: solid black;
    border-radius: 13px;
  }
  
  .card3 {
    position: absolute;
    width: 370px;
    height: 225px;
    margin-left: 941px;
    margin-top: -200px;
    border: solid black;
    border-radius: 13px;
  }
  
  .card4 {
    position: absolute;
    width: 370px;
    height: 225px;
    margin-left: 495px;
    margin-top: 0;
    border: solid black;
    border-radius: 13px;
  }

  .commoncard{
    background-image: url("https://image.shutterstock.com/image-vector/check-back-soon-hand-lettering-600w-1379832464.jpg");
    margin-top: 30px;
    
}
  .img-fluid2 {
    position: absolute;
    width: 1344px;
    height: 500px;
    margin-left: 0px;
    margin-top: 0;
    padding-top: 30px;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #contain #bg{
    background-color: #16324F; 
  }
.cards-wrapper{
  height: 9000px;
}