.box {
  position: absolute;
  width: 553px;
  height: 500px;
  background: #ffde73;
  box-shadow: 2px 4px 13px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: 13px;
  margin-left: 740px;
  margin-top: 50px;
}

.topic {
  position: absolute;
  width: 75px;
  height: 33px;
  margin-top: 20px;
  margin-left: 250px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #16324f;
}

.video {
  position: absolute;
  width: 470px;
  height: 202px;
  margin-top: 150px;
  margin-left: 40px;
  background: #ffffff;
  border-radius: 13px;
}

.assn {
  position: absolute;
  width: 150px;
  height: 33px;

  margin-top: 400px;
  margin-left: 60px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}

.quiz {
  position: absolute;
  width: 70px;
  height: 33px;
  margin-top: 400px;
  margin-left: 400px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */

  color: #000000;
}
