:root {
  --yellow: #FFDE73;
  --blue: #16324F;
  --secondary: #2F4760;
  --light_blue: #F3FFFF;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.yellow-text {
  color: var(--yellow);
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
.btn:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

#contain #bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#header {
  height: 120vh;
  position: relative;
}

#header #navbar a {
  color: var(--yellow);
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

#header #navbar a:hover {
  opacity: 0.9;
}

#header #navbar #button {
  border: solid var(--yellow) !important;
  border-radius: 12px;
  color: var(--yellow);
}

#header #navbar #button:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

#header #navbar .line {
  border-bottom: #fff 2px solid;
  border-radius: 12px;
  width: 30px;
  -ms-grid-column-align: center;
      justify-self: center;
  display: none;
}

#header #navbar .active {
  display: block;
}

#header #para_learn {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 35%;
}

#header #para_learn #learn {
  font-size: 3rem;
  font-family: 'Gilroy';
  font-weight: bolder;
}

#about {
  color: var(--secondary);
  height: 77vh;
}

#about h1 {
  font-size: 4rem;
  font-family: 'Gilroy';
  font-weight: bolder;
}

#about p {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

#about a {
  margin-bottom: 80px;
  color: #fff;
  font-size: 1.3rem;
  background-color: var(--blue);
  padding: 4px 30px;
  border-radius: 12px;
}

#join {
  background: url("../src/imgs/join.png") no-repeat center center/cover;
  padding: 3rem;
  padding-bottom: 3.5rem;
}

#join #join_student {
  padding: 3rem;
  border: #fff solid 2px;
  border-radius: 33px;
}

#join #join_teacher {
  padding: 3rem;
  border: #fff solid 2px;
  border-radius: 33px;
}

#join h2 {
  font-family: 'Gilroy';
  font-weight: bolder;
  color: var(--yellow);
  margin-bottom: 4rem;
}

#join h3 {
  font-family: 'Gilroy';
  font-weight: bolder;
  color: var(--yellow);
  font-size: 2rem;
}

#join h5 {
  font-family: 'Gilroy';
  font-weight: bolder;
  color: var(--yellow);
}

#join p {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 3rem 0;
}

#join .sign_in_button {
  display: block;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: var(--yellow);
  padding: 5px 20px;
  border: var(--yellow) solid 2px;
  border-radius: 12.5px;
  color: var(--blue);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#join .sign_in_button:hover {
  color: var(--yellow);
  background-color: var(--blue);
}

footer {
  background-color: #393D3F;
  padding-top: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
}

footer h4 {
  display: inline-block;
  font-size: 0.9rem;
  color: #fff;
}

footer .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: var(--yellow);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  line-height: 30px;
  color: black;
}

footer .fb-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: var(--yellow);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  line-height: 46px;
  color: black;
}

footer .fb-element i {
  font-size: 1.4rem;
}

footer #copyright {
  color: #A0A0A0;
}

#small-screen-nav {
  display: none;
}

#small-screen-nav {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#small-screen-nav a {
  text-decoration: none;
}

#small-screen-nav .container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#small-screen-nav .container #hamburger {
  display: none;
}

#small-screen-nav .container .my-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0 !important;
}

#small-screen-nav .container .my-nav-menu li {
  list-style: none;
}

#small-screen-nav .container .my-nav-menu .my-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

#small-screen-nav .container .my-nav-menu .my-nav-item .my-nav-link {
  color: #ed4950;
  text-transform: uppercase;
  padding-left: 0.4rem;
  padding-right: 1rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  color: rgba(255, 255, 255, 0.55);
}

#small-screen-nav .container .my-nav-menu .my-nav-item .my-nav-link:hover {
  color: #ed4951;
}

#small-screen-nav .container .my-nav-menu .my-nav-item.active {
  font-weight: bold;
}

#small-screen-nav .container .my-nav-menu .my-nav-item.active a {
  border-left: #ed4951 2px solid;
  color: var(--yellow);
}

#small-screen-nav .container .my-nav-menu .my-nav-item.active a:hover {
  color: rgba(51, 164, 255, 0.8);
}

#small-screen-nav .container .my-navbar-logo {
  margin: 10px 0;
  margin-right: 0;
}

#small-screen-nav .container .my-navbar-logo img {
  height: 40px;
}

#small-screen-nav .container #toggler {
  display: none;
}

#small-screen-nav .container .bar {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  background-color: #777;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 575px) {
  #navbar {
    display: none;
  }
  #small-screen-nav {
    z-index: 3;
    display: block;
    position: fixed !important;
    top: 0;
    width: 100%;
  }
  #small-screen-nav .container {
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
  #small-screen-nav .container #hamburger {
    display: block;
    opacity: 0;
  }
  #small-screen-nav .container #toggler {
    z-index: 3 !important;
    display: block;
    cursor: pointer;
  }
  #small-screen-nav .container .my-nav-menu {
    position: fixed;
    padding-bottom: 0.2rem !important;
    padding-left: 0;
    right: 0%;
    top: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #111;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: -1 !important;
  }
  #small-screen-nav .container .my-nav-menu .home {
    margin: auto;
  }
  #small-screen-nav .container .my-nav-menu .my-nav-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #small-screen-nav .container .my-nav-menu .my-nav-link {
    padding: 0 !important;
    border: none !important;
  }
  #small-screen-nav .container .my-nav-menu.show {
    top: 50px;
  }
  .my-navbar-logo {
    z-index: 3 !important;
  }
  #toggler.show .bar:nth-child(2) {
    opacity: 0;
  }
  #toggler.show .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
    background-color: var(--blue);
  }
  #toggler.show .bar:nth-child(3) {
    background-color: var(--yellow);
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
/*# sourceMappingURL=style.css.map */